<!doctype html>
<html>
	<head>
		<title>Claypot</title>
	</head>
	<body>
<!--script>
void function(win, doc, tag, jssrc, name, analysis, element, node){
    win.claypot = win.claypot || {};
    win.claypot.name = name;
    win.claypot.url = analysis;
    element = doc.createElement(tag);
    element.asyn = 1;
    element.src  = jssrc;
    node = doc.getElementsByTagName(tag)[0];
    node.parentNode.insertBefore(element, node);
}(window,document,"script","http://source.unclay.com/common/js/clog.min.js","clog", "http://c.unclay.com/c.gif");
</script-->

<script>
void function(g,f,a,c,b,h,d,e){g.claypot=g.claypot||{};g.claypot.name=b;g.claypot.url=h;d=f.createElement(a);d.asyn=1;d.src=c;e=f.getElementsByTagName(a)[0];e.parentNode.insertBefore(d,e)}(window,document,"script","/clog.min.js","clog","/c.gif");
</script>

<script>
	
</script>
<script src="/test.js"></script>
	</body>
</html>